/* 
    Created on : 21 Dec, 2013, 8:50:20 PM
    Author     : Sabuj
*/
*,*:before,*:after {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box
}

html {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 0.8em;
	font-weight: normal;
	font-family: Tahoma;
	color: black;
	background: white url('images/retina_wood.png') repeat bottom right;
	/*    background-color: skyblue;*/
}

div {
	background-color: transparent;
	display: block;
}

#pageContainer {
	min-height: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

#topBar {
	top: 0px;
	width: 100%;
	height: 48px;
	max-height: 48px;
	min-height: 48px;
	z-index: 111111;
	position: fixed;
	font-family: 'Ubuntu Condensed', 'Trebuchet MS';
	font-size: 2.5em;
	font-weight: normal;
	color: snow;
	vertical-align: middle;
	padding-left: 0px;
}

#header {
	margin-left: 0px;
	margin-right: 50px;
	min-width: 900px;
	vertical-align: middle;
	width: 100%;
}

#header-logo {
	width: 200px;
	height: 100%;
	float: left;
}

#header-content {
	
	float: right;
}

#header-links {
	float: left;
	font-size: 0.8em;
	vertical-align: middle;
	height: 100%;
	margin-top: 8px;
}

#header-links h1 {
	position: absolute;
	left: 40px;
	top: 0;
	color: #fff;
	letter-spacing: -2px;
	line-height: 46px;
}

#header-links h1 {
	color: #fff;
	text-decoration: none;
}

#header-links a {
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}

#header-links nav {
	vertical-align: middle;
	position: absolute;
	right: 300px;
	top: 10px;
	text-transform: none;
}

#header-links nav a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 0 5px 0 5px;
	outline: 0;
}

#header-links nav a.current-page-item {
	background-color: #007897;
	background-image: -moz-linear-gradient(top, #007b99, #007897);
	background-image: -webkit-linear-gradient(top, #007b99, #007897);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007b99),
		to(#007897));
	background-image: -ms-linear-gradient(top, #007b99, #007897);
	background-image: -o-linear-gradient(top, #007b99, #007897);
	background-image: linear-gradient(top, #007b99, #007897);
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px 1px
		rgba(255, 255, 255, 0.1);
}

#header-links nav a:hover {
	background-color: #0882a1;
	background-image: -moz-linear-gradient(top, #0782a0, #077d9b);
	background-image: -webkit-linear-gradient(top, #0782a0, #077d9b);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0782a0),
		to(#077d9b));
	background-image: -ms-linear-gradient(top, #0782a0, #077d9b);
	background-image: -o-linear-gradient(top, #0782a0, #077d9b);
	background-image: linear-gradient(top, #0782a0, #077d9b);
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.05), 0px 0px 5px 1px
		rgba(255, 255, 255, 0.05);
}

#header-user-links {
	float: left;
	font-size: 0.8em;
	vertical-align: middle;
	height: 100%;
	margin-top: 8px;
}

#header-search-box {
	float: right;
	border-left: #4197ee thin;
}

.fill {
	background-color: #222;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#4b4b4b),
		to(#222));
	background-image: -moz-linear-gradient(top, #4b4b4b, #222);
	background-image: -ms-linear-gradient(top, #4b4b4b, #222);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4b4b4b),
		color-stop(100%, #222));
	background-image: -webkit-linear-gradient(top, #4b4b4b, #222);
	background-image: -o-linear-gradient(top, #4b4b4b, #222);
	background-image: linear-gradient(top, #4b4b4b, #222);
	filter: progid:DXImageTransform.Microsoft.gradient( 
        startColorstr='#4b4b4b', endColorstr='#222222', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0
		rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0
		rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0
		rgba(0, 0, 0, 0.1)
}

#mainContent {
	padding-top: 55px;
	padding-bottom: 30px;
	width: 100%;
	margin: auto;
	min-width: 900px;
	max-width: 1024px;
}

#footerContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px; /* Height of the footer */
	background: #6e6e6e;
}

.blueButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow: inset 0px 1px 0px 0px #cae3fc;
	box-shadow: inset 0px 1px 0px 0px #cae3fc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff
		), color-stop(1, #4197ee));
	background: -moz-linear-gradient(center top, #79bbff 5%, #4197ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr= 
		'#79bbff', endColorstr=  '#4197ee');
	background-color: #79bbff;
	border: 1px solid #469df5;
	display: inline-block;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	padding: 2px 17px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #287ace;
	cursor: pointer;
}

.blueButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4197ee
		), color-stop(1, #79bbff));
	background: -moz-linear-gradient(center top, #4197ee 5%, #79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr= 
		'#4197ee', endColorstr=  '#79bbff');
	background-color: #4197ee;
}

.blueButton:active {
	position: relative;
	top: 1px;
}

.greenButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a
		), color-stop(1, #5cb811));
	background: -moz-linear-gradient(center top, #77d42a 5%, #5cb811 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr= 
		'#77d42a', endColorstr=  '#5cb811');
	background-color: #77d42a;
	border: 1px solid #268a16;
	display: inline-block;
	color: #000000;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	padding: 2px 17px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
	cursor: pointer;
}

.greenButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811
		), color-stop(1, #77d42a));
	background: -moz-linear-gradient(center top, #5cb811 5%, #77d42a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr= 
		'#5cb811', endColorstr=  '#77d42a');
	background-color: #5cb811;
}

.greenButton:active {
	position: relative;
	top: 1px;
}

.yellowButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fed897;
	box-shadow: inset 0px 1px 0px 0px #fed897;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6b33d
		), color-stop(1, #d29105));
	background: -moz-linear-gradient(center top, #f6b33d 5%, #d29105 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr= 
		'#f6b33d', endColorstr=  '#d29105');
	background-color: #f6b33d;
	border: 1px solid #eda933;
	display: inline-block;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	padding: 2px 17px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #cd8a15;
	cursor: pointer;
}

.yellowButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d29105
		), color-stop(1, #f6b33d));
	background: -moz-linear-gradient(center top, #d29105 5%, #f6b33d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr= 
		'#d29105', endColorstr=  '#f6b33d');
	background-color: #d29105;
}

.yellowButton:active {
	position: relative;
	top: 1px;
}

.whiteButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9
		), color-stop(1, #e9e9e9));
	background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr= 
		'#f9f9f9', endColorstr=  '#e9e9e9');
	background-color: #f9f9f9;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	padding: 2px 17px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	cursor: pointer;
}

.whiteButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9
		), color-stop(1, #f9f9f9));
	background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr= 
		'#e9e9e9', endColorstr=  '#f9f9f9');
	background-color: #e9e9e9;
}

.whiteButton:active {
	position: relative;
	top: 1px;
}