<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">
	
	<appender name="APPL_LOG" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="./logs/app.log" />
                <param name="Append" value="true"/>
		<param name="MaxFileSize" value="8000KB" />
		<param name="maxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MMM-yy HH:mm:ss} %-5p %C{1} %m%n" />
		</layout>
	</appender>

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n"/>
      </layout>
   </appender>

	<!-- This priority value can be configured based your needs. -->
	<!-- <category name="*" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="APPL_LOG" />
	</category> -->
        
    <root > 
    	<priority value ="error" /> 
    	<appender-ref ref="consoleAppender" /> 
    	<appender-ref ref="APPL_LOG" />
  	</root>
</log4j:configuration>
