/* CSS file */

.loginPanel
{
   borderColor: #6692B5;
   borderAlpha: 1;
   headerColors: #6692B5, #6692B5;			  
   borderAlpha: 1;
   borderThicknessLeft: 2;
   borderThicknessTop:2;
   borderThicknessBottom: 2;
   borderThicknessRight: 2;
   dropShadowEnabled: false;
   shadowDistance: 2;
   padding-left:5;
   padding-right:5;
   padding-top:5;
   corner-radius:0;
   tab-style-name:myText1;
   
}