

.templatemo_header {

	height: 54px;
	background: url(images/header-bg.png) repeat-x;
	margin: 0;
	padding: 0;

}

.job-monitor-realTime{
	
	margin: 3px;
	border: 1px dotted #a1a1a1;
	
}

.navigationAccordianTitle{
	font-weight: bold;
	font-size: 2.2em;
	color: #006300;
}

.navigationButton{
	font-weight: bold;
	font-size: 1.5em;
	color: #006300;
	height: 42px;
	border: 1px solid #a1a2a1;
}

.jobFilterView{
	border: 1px dotted #a1a2a1;
}


