

.templatemo_header {

	height: 54px;
	background: url(images/header-bg.png) repeat-x;
	margin: 0;
	padding: 0;

}

.job-monitor-realTime{
	
	margin: 3px;
	border: 1px dotted #a1a1a1;
	
}

.navigationAccordianTitle{
	font-weight: bold;
	font-size: 2.2em;
	color: #006300;
}

.navigationButton{
	font-weight: bold;
	font-size: 1.5em;
	color: #006300;
	height: 42px;
	border: 1px solid #a1a2a1;
}

.jobFilterView{
	border: 1px dotted #a1a2a1;
}

.status_info, .status_success, .status_unknown, .status_error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 0;
    background-repeat: no-repeat;
/*     background-position: 10px center;
	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	border-radius:.5em; */
}
.status_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('images/monitor/info.png');
}
.status_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/monitor/success.png');
}
.status_unknown {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/monitor/unknown.png');
}
.status_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/monitor/error.png');
}

