/* CSS file */
.HeaderLinkButton
{
	fontFamily: "Book Antiqua";
	fontSize: 16;
	fontStyle: normal;
	textDecoration: normal;
	fontWeight: bold;
	color: #06D2FE;
}

.HeaderSelectedLinkButton
{
	fontFamily: "Book Antiqua";
	fontSize: 16;
	fontStyle: normal;
	textDecoration: underline;
	fontWeight: bold;
	color: #06D2FE;
}

.ApplicationBody
{
	background-color: #247FAE;
}

.bodyBgNormal
{
	background-color: #247FAE;
}

.NormalBox
{
	backgroundColor: #247FAE;
	fontFamily: Georgia;
	verticalGap: 0;
	horizontal-gap: 0;
}

.loginPanel
{
   borderColor: #6692B5;
   borderAlpha: 1;
   headerColors: #6692B5, #6692B5;			  
   borderAlpha: 1;
   borderThicknessLeft: 2;
   borderThicknessTop:2;
   borderThicknessBottom: 2;
   borderThicknessRight: 2;
   dropShadowEnabled: false;
   shadowDistance: 2;
   padding-left:5;
   padding-right:5;
   padding-top:5;
   corner-radius:0;
   tab-style-name:myText1;
   
}

.leftNavPanel
{
   borderColor: #6692B5;
   borderAlpha: 1;
   headerColors: #6692B5, #6692B5;			  
   borderAlpha: 0.5;
   borderThicknessLeft: 2;
   borderThicknessTop:2;
   borderThicknessBottom: 2;
   borderThicknessRight: 2;
   dropShadowEnabled: false;
   shadowDistance: 2;
   padding-left:5;
   padding-right:5;
   padding-top:5;
   corner-radius:12;
   tab-style-name:myText1;
	backgroundColor: #6692B5;
	roundedBottomCorners: true;
	fontFamily: Georgia;
	fontSize: 12;
	fontWeight: normal;
	fontStyle: normal;
	color: #E9F7FB;
	textDecoration: normal;
   
}
.mainContentPanel
{
	borderColor: #6692B5;
   borderAlpha: 1;
   headerColors: #6692B5, #6692B5;			  
   borderAlpha: 0.5;
   borderThicknessLeft: 2;
   borderThicknessTop:2;
   borderThicknessBottom: 2;
   borderThicknessRight: 2;
   dropShadowEnabled: false;
   shadowDistance: 2;
   padding-left:5;
   padding-right:5;
   padding-top:5;
   corner-radius:12;
   tab-style-name:myText1;
	backgroundColor: #F5FAFD;
	roundedBottomCorners: true;
	fontFamily: Georgia;
	fontSize: 12;
	fontWeight: normal;
	fontStyle: normal;
	color: #000000;
	textDecoration: normal;
}
@font-face
{
	fontFamily: Georgia;
	fontWeight: normal;
	fontStyle: italic;
	src: local("Georgia");
}
@font-face
{
	fontFamily: Georgia;
	fontWeight: bold;
	fontStyle: italic;
	src: local("Georgia");
}
@font-face
{
	fontFamily: Georgia;
	fontWeight: normal;
	fontStyle: normal;
	src: local("Georgia");
}
@font-face
{
	fontFamily: "Book Antiqua";
	fontWeight: bold;
	fontStyle: normal;
	src: local("Book Antiqua");
}
@font-face
{
	fontFamily: "Book Antiqua";
	fontWeight: bold;
	fontStyle: italic;
	src: local("Book Antiqua");
}
@font-face
{
	fontFamily: "Book Antiqua";
	fontWeight: normal;
	fontStyle: normal;
	src: local("Book Antiqua");
}
@font-face
{
	fontFamily: "Book Antiqua";
	fontWeight: normal;
	fontStyle: italic;
	src: local("Book Antiqua");
}