body {
}
.homeButton
{
	vertical-align: middle;
	direction: ltr;
	line-height: normal;
	letter-spacing: normal;
	background-color: #5177ae;
	text-align: center;
	color: #e0ffff;
	font-family: Tahoma, Verdana, Monospace;
	font-style: normal;
}
.topBar
{
	background-position: left top;
	background-attachment: scroll;
	background-image: url(ResourceManagementImages/gradient.jpg);
	background-repeat: repeat-x;
}
.topBar1
{
	background: url(ResourceManagementImages/entertainment_2.jpg) repeat-x left top;
}

.imageBar1
{
	background: url(ResourceManagementImages/entertainment.jpg) repeat-x left top;
}