<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Learnt By Practical</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link rel="stylesheet" href="../assets/css/layout.css"/>
        <link rel="stylesheet" href="../assets/theme/redmond/jquery-ui-1.10.2.css"/>
        
        <script type="text/javascript" src="../assets/js/libs/jquery-1.9.1/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="../assets/js/libs/jqueryui-1.10.2/jquery-ui-1.10.2.js"></script>
    </head>
    <body class="blue-bg">
        <div id="page-wrap">
            <div id="header-wrap" class="corner-all">
                <div id="header-title">
                    <div id="header-image">
                        <img src="../assets/images/learn-001.png" alt="Practical">
                    </div>
                    <div><h2>Learnt By Practical</h2></div>
                </div>
                <div id="header-name">
                    <span id="header-name-text">Hello World!</span>
                </div>
            </div>
            <div id="content-wrap">
                fgsdfgs
                
            </div>
            
            <div id="footer-wrap">Page Footer content</div>
        </div>
        
        
    </body>
</html>
